^contentpage {
    background-color: dimgray;
}

#CategoriesCollection {
    width: 400;
}

.CategoryFrame {
    width: 400;
    background-color: #1C6E8C;
}

^label {
    color: black;
    font-size: 24;
}

.ItemFrame {
    background-color: #1C6E8C;
    width: 1200;
    height: 140;
}

.ItemImage{
    width: 140;
    height: 160;
    margin: 0;
}

Editor {
    color: white;
    background-color: #1C6E8C;
}

.FormSection{
    margin: 20;
}
